body {
    background-color: #f2f2f2;
    font-family: Arial;
}
h1 {
    color: darkblue;
    text-align: center;
}
h2 {
    color: #333;
}
p {
    font-size: 16px;
}
ul {
    background-color: white;
    padding: 10px;
    width: 200px;
}
